root=true

[*]
charset=utf-8
indent_style=space
indent_size=4
end_of_line=true
trim_trailing_whitespace=true
insert_final_newline=true

[*.{kt,kts}]
max_line_length=112
disabled_rules=filename
kotlin_imports_layout=idea
